---
---

$bg: #ffd7a3
$text: #595629
$link: #334659

$spacer: 16px
$page-width: 600px

html
  margin: 0
  padding: 0
  background-color: $bg
  color: $text
  font-family: sans-serif
  height: 100vh
  display: flex
  align-items: center
  justify-content: center

body
  margin: 0
  padding: $spacer
  box-sizing: border-box
  
  height: 100%
  max-height: 600px
  flex-basis: $page-width

  display: flex
  flex-direction: column
  
a
  color: $link
  font-style: normal
h1, h2, ol
  padding: 0
  margin: 0
li 
  list-style-type: none

#external-links
  background-image: url("rock-on.svg")
  background-position: top center
  background-repeat: no-repeat
  background-size: contain

  flex-grow: 1
  
  display: flex
  flex-direction: column
  justify-content: flex-end
  align-items: flex-start

.m
  &-top
    margin-top: $spacer
